[2016-11-21 15:05] kennethreitz opened #8 "prevent empty thanks notes from being being sent/stored"

[2016-11-21 15:05] kennethreitz opened #9 "sanitize note output with jinja"

[2016-11-21 15:36] almet opened #10 "Delete account"
Users should be able to delete their account from the interface.

[2016-11-21 15:37] kennethreitz commented on #10
eventually, yes.

[2016-11-21 15:38] kennethreitz commented on #10
they will also be able to disable automatic emails.

[2016-11-21 15:38] kennethreitz commented on #10
but that's a little ways away

[2016-11-21 15:38] #9 closed

[2016-11-21 15:38] #8 closed

[2016-11-23 22:36] vic opened #12 "Suggest adding a Badge on README"
Hi, how about some instructions for adding a nice-looking badge on the project's README. Many projects already use badges for CI-build status, version-info and the like, and I guess adding a `saythanks` badge would increase the chance of users doing click on it.

[![saythanks](https://img.shields.io/badge/say-thanks-ff69b4.svg)](https://saythanks.io/to/kennethreitz)

[code]

[2016-11-24 04:31] kennethreitz commented on #12
oh I like that one!

[2016-11-24 04:32] kennethreitz commented on #12
done :D

[2016-11-24 04:32] #12 closed

[2016-11-24 09:12] nicosomb opened #13 "Saythanks to an organization?"
Hello,

I have an organization (@wallabag) and I want to add a saythanks button. Is that possible?

[2016-11-24 15:47] jsroyal commented on #13
@nicosomb No an organization  there is not possible. Because there is not readme file.I think clear about it.

[2016-11-24 18:08] nicosomb commented on #13
A user doesn't have README.

[2016-11-25 04:08] kennethreitz commented on #13
not at this time, but that is planned for the future. manual account creation will have to be added.

[2016-11-25 08:01] erinxocon commented on #13
Manual Account creation has been added and is now in beta, test it out!

[2016-11-25 08:03] #13 closed

[2016-11-25 08:15] nicosomb commented on #13
It works 👍
https://saythanks.io/to/wallabag

[2016-11-25 08:23] erinxocon commented on #13
Thanks @nicosomb! I sent you some thanks, can you confirm you get the e-mail?  I want to make sure I didn't close this ticket prematurely :)

[2016-11-25 08:23] nicosomb commented on #13
Email and thank received 👍

Thank you @erinxocon!

[2016-11-27 04:14] erinxocon commented on #10
@almet You can now deactivate your account, or deactivate e-mails, there will soon be a settings page for this but for now you can change the settings by clicking the links at the bottom of your inbox.

[2016-11-27 06:55] #10 closed

[2016-12-18 19:03] kxxoling opened #17 "Some style error in inbox page."
The list icon and content are splitted into different lines since there is a `p` tag exists in `li` tag.

![inbox](https://cloud.githubusercontent.com/assets/1227139/21295772/4e444d08-c597-11e6-82d0-6b8585c13dba.png)

In this case, I think the `p` tags are useless:
https://github.com/kennethreitz/saythanks.io/blob/master/saythanks/templates/inbox.htm.j2#L86-L103

[2016-12-18 19:32] erinxocon commented on #17
I should have just fixed this by removing the p tags, waiting for the CI to run it's test but I think we're good!  Thanks @kxxoling

[2016-12-18 19:35] #17 closed

[2016-12-20 10:28] mgohin opened #18 "Add markdown for easy integration"
Hi,

thanks for this nice initiative.

Would be great to have code to copy/paste for an easy integration into our READMEs, or at least an easy tutorial to explain that we can use Shields.io (http://shields.io/ part "Your badge") to do this :

![](https://img.shields.io/badge/say-thanks-ff69b4.svg) (`https://img.shields.io/badge/say-thanks-ff69b4.svg`)

We only have this right now in the private pa

[2016-12-20 10:34] mgohin opened #19 "Public inbox and thanks per project ?"
Hi again,

could be nice to open our inbox for public thanks on a project ? We are not always alone on a project and I think thanks is for every contributors.

Also, could be nice to split thanks by projects in one account, I don't want to create an account for each projects.

And we could have a counter in the badge too, could be a motivation for people to use the thanks button ;)

[2016-12-21 03:39] whit537 opened #20 "Find a designer"
It seems like some design could go a long way for this project. Like, style the input to look like you're writing a thank you card. The [Creative Mornings](https://creativemornings.com/) crowd would eat it up!

[2016-12-23 00:06] controversial opened #21 "saythanks.to domain"
Maybe it'd be cool to register the `saythanks.to` domain instead of using links like https://saythanks.io/to/kennethreitz. Links that looked like https://saythanks.to/kennethreitz would look cleaner in my opinion.

Just a thought ¯\_(ツ)_/¯

[2016-12-24 04:09] erinxocon commented on #21
Unfortunately it looks to be taken.  :( https://domainr.com/saythanks.to

[2016-12-24 23:47] BlitzKraft commented on #21
How about thanks.to, and a subdomain "say.thanks.to" ?

The domain is available, for a huge price tag.

[2017-01-10 20:30] #21 closed

[2017-01-10 20:31] #20 closed

[2017-01-10 20:31] kennethreitz commented on #18
I agree!

[2017-01-13 03:05] #19 closed

[2017-01-13 06:45] mgohin commented on #19
You closed the suggestion but no explanations :/

[2017-01-13 09:25] kennethreitz commented on #19
You can create an inbox for a project or organization.

Counter is discouraged, as this is not a game.

[2017-01-13 09:26] mgohin commented on #19
It's not a game but like the "star" button on github, it's nice to see how many people said thanks to your project.

[2017-01-13 09:28] kennethreitz commented on #19
Not planning on implementing.

[2017-01-20 07:12] n1try opened #25 "Add project-specific parameter"
First of all, thanks for this project! I got a feature request. It would be great if you could distinguish between multiple projects in SayThanks. If you have multiple projects with the badge included, this would help to know which specific project a user has thanked for. Could be realized with a simple URL query parameter.

[2017-01-23 19:16] danielpclark commented on #18
A copy & paste input field for a markdown link would be most helpful.

[2017-01-23 19:18] kennethreitz commented on #18
Agreed!

[2017-01-23 19:19] kennethreitz commented on #25
I think our current design is fine, multiple projects can have multiple inboxes.

[2017-01-23 19:19] #25 closed

[2017-02-04 06:45] sbeleidy opened #26 "Add github organization integration"
Thanks for creating this awesome project!

Could you please add the ability to create a saythanks url for an organization when I sign up with GitHub?

[2017-02-06 08:55] waseem18 commented on #18
@kennethreitz I find this project interesting and would like to start contributing my part by working on this issue.

[2017-02-14 17:52] lyndsysimon commented on #26
My understanding is that this is possible today, but requires that the organization account be created manually. See #13.

[2017-02-14 17:58] lyndsysimon commented on #18
@waseem18: Any progress? :)

[2017-03-19 20:49] janbrohl opened #28 "Internationalization?"
Please consider adding (an option to add) translations. I could translate the texts to German and I know a little bit French.

[2017-03-19 21:00] janbrohl commented on #18
For me the code to include in rst is:

[code]

for md it is

`[![Say Thanks!](https://img.shields.io/badge/Say%20Thanks!-%F0%9F%A6%89-1EAEDB.svg)](https://saythanks.io/to/janbrohl)`

[2017-03-20 00:01] itsN1X opened #29 "Add support for small-only attachments?"
A little thumbnail, a signature or maybe a . gif or e-card?
Or is it okay if it stays on just like an inline link?
I'm only proposing diversity, for it's the most attractive attribute😄

[2017-03-20 04:53] waseem18 commented on #18
@janbrohl I'll submit a PR for this today!

[2017-03-24 23:11] kennethreitz commented on #18
@waseem18 any luck?

[2017-03-24 23:11] kennethreitz commented on #29
not at this time

[2017-03-24 23:11] #29 closed

[2017-03-24 23:12] kennethreitz commented on #28
i think this will be an english-only service for now

[2017-03-24 23:12] #28 closed

[2017-03-24 23:12] kennethreitz commented on #26
@lyndsysimon is correct

[2017-03-24 23:12] #26 closed

[2017-03-25 05:52] waseem18 commented on #18
Doing it now @kennethreitz ! :+1:

[2017-03-25 07:51] waseem18 commented on #18
@kennethreitz Where do I place the input box, with design perspective! Should it be in the `Buttons & Links` row or should I have another row instead?

Also I'm using https://clipboardjs.com

[2017-03-25 13:51] waseem18 commented on #18
How's this @kennethreitz ?
![hows-this](https://cloud.githubusercontent.com/assets/5843007/24322740/44bc773e-1190-11e7-9ad3-fa20b3243f21.png)

[2017-03-25 15:40] danielpclark commented on #18
Can you have it be a popup selection like on TravisCI?
![badge1](https://cloud.githubusercontent.com/assets/319081/24323684/d1ac09f2-114f-11e7-9e92-925cc453d252.png)
![badge2](https://cloud.githubusercontent.com/assets/319081/24323686/d478611c-114f-11e7-8f65-9792f3a2595b.png)

[2017-03-25 15:57] waseem18 commented on #18
Yeah @danielpclark ! Good idea actually!

[2017-03-25 17:42] kennethreitz commented on #18
i love it!

[2017-03-25 17:57] waseem18 commented on #18
The one with the popup? :D

[2017-03-26 17:18] waseem18 commented on #18
@kennethreitz I've implemented it. It looks now as shown below.
![popup](https://cloud.githubusercontent.com/assets/5843007/24333468/29945ab2-1276-11e7-8f2f-0040b41cfdb6.png)

I hope you like it. And one thing, which branch do I push it to? Master or Development? As last commit is in master and development is behind master.

[2017-03-26 18:05] kennethreitz commented on #18
I love it! Send a PR!

[2017-03-26 18:10] waseem18 commented on #18
Yeah..In a minute! :+1:

[2017-03-26 23:40] waseem18 opened #31 "Moving 'Manage your inbox' section to new page"
It would be better if `Manage your Inbox:` section is move to a different page.

A settings icon will be placed at the right end of row `Welcome, Email` row which would take the users to the above mentioned page.

This would make the index page look clean.

[2017-04-04 11:23] kennethreitz commented on #18
done!

[2017-04-04 11:23] #18 closed

[2017-04-04 11:23] kennethreitz commented on #31
I like this idea! Want to send a pull request?

[2017-04-04 11:24] kennethreitz commented on #31
/cc @erinxocon

[2017-04-04 11:28] waseem18 commented on #31
Yeah! I'll look into this and will send a PR soon!

[2017-05-03 17:26] kennethreitz opened #32 "random name generator for fake name"

[2017-05-03 17:27] kennethreitz commented on #32
https://pypi.python.org/pypi/names/

[2017-05-03 17:54] kennethreitz commented on #32
deployed!

[2017-05-03 17:54] #32 closed

[2017-06-23 08:07] ale5000-git opened #33 "Logout"
Please add a logout link to the inbox

[2017-08-15 15:17] aviaryan opened #34 "[feature request] A public thanks message page"
A feature to allow all the messages to be displayed on a public page would be awesome. We would be able to use it as a public *hall of fame*.

[2017-09-29 12:07] n1try opened #35 "[feature request] Optional sender e-mail address"
I'd like to have the ability for the sender of a message to optionally add her e-mail address to potentially get in contact afterwards.

[2017-10-07 04:38] WhyNotHugo opened #36 "Rename account / change username"
Changing usernames would be a nice feature to have. In my case, I'm consolidating all my online accounts into one names, so I'd love to rename that one too. 🙂

[2017-11-04 13:44] janbrohl opened #37 "Add localized versions?"
To be more accessible to users who do not speak english it would be cool to have translated versions of the pages (and the button).

Is there a chance of a PR providing a german translation to be accepted?

[2018-01-02 09:53] orschiro opened #38 "Show "Thanks" the same way stars are shown"
Dear @kennethreitz,

I know that this is probably out of scope but maybe we can propose this to the Github folks?

![image](https://user-images.githubusercontent.com/170947/34480218-5ccd61b8-efab-11e7-9b56-2a140c38a3b0.png)

[2018-01-17 07:35] muety opened #39 "Don't escape <br> tags in notification mail"
`<br>` tags are escaped in the `text/html` section. Mails look like this:
[code]
According source code looks like this:
[code]

Additionally, the `text/plain` version shouldn't contain HTML tags at all, but it does.

[code]

[2018-02-05 21:28] jennydaman opened #40 "[feature request] integrated shields.io badge customization"
[![saythanks](https://img.shields.io/badge/say-thanks-ff69b4.svg)](https://saythanks.io/to/kennethreitz)

I'm jealous of this pink badge. For convenience, it'd be nice to have a small widget on the inbox page to make it easier to customize the shields.io badge.

Is this something you would like to have? If so, I wish to help with implementation.

[2018-02-25 16:41] kgbm3 opened #41 "[offtopic] Corner ribbon"
Hi, guys!..:)

Great idea, for the web page @https://saythanks.io/

It's nice, except there's an _unexpected_ element, the corner ribbon isn't done with some nice JavaScript, or something; this is the page code, currently:

`<a href="https://github.com/kennethreitz/saythanks.io"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a6

[2018-02-25 20:04] SethMichaelLarson commented on #41
If you want things to be improved you should open a pull request.

[2018-02-26 03:19] erinxocon commented on #41
Hey @kgbm3!  Thanks for using saythanks.io!  I would second @SethMichaelLarson if you have some better code please contribute via a pull request!!!  I'm a python dev/backend JS gal and don't work much with front end JS.

[2018-02-26 19:39] tombakerjr commented on #41
@kgbm3 You could leverage something like https://codepo8.github.io/css-fork-on-github-ribbon/ to do it via CSS, which I think would be preferable to JS in this case.

[2018-04-09 18:17] redmusic27 opened #42 "Logo Proposal"
Hello sir, I'm a graphic designer and I would love to contribute to your project with a logo. This is completely free, take it as a contribution. In case you agree I would be presenting sketches and you will be choosing/modifying the aspects you like more so we could work on the perfect logo for your project together.

Let me know what do you think? best regards :)

[2018-07-01 19:06] nyancol opened #44 "[feature request] Multiple emails without creating an organization"
Hi,

Thanks for this nice initiative!
With a couple of friends, I am working on a side project and I would like to integrate saythanks to its README. The issue, is that the messages will only be sent to one of the collaborators, so I was wondering if it would be possible to add support for multiple emails or github accounts linked to one single thanks button, without having to create an organizati

[2018-07-05 14:42] DEKHTIARJonathan commented on #44
I will also wait for the possibility to create organization account in order to add it ;)

And btw. I think it would be more efficient to create an inbox per (user/org) project on demand rather than  1 per user. I believe most of the people interested in this project are actually working on different projects, it would be better to separate them ;)

[2018-09-04 00:48] MaxValue commented on #40
You could look at [Shields.io](https://shields.io/#/) directly and see how their interactive editor works.

[2018-09-04 00:51] MaxValue commented on #42
I would be interested to know when a logo starts existing. Currently there is only the owl (as seen on the website), but I am not sure if that is the logo. This could be interesting for the [simpleicons](https://simpleicons.org/) project.

[2018-09-24 10:43] angristan opened #46 "Internal Server Error with GitHub login"
Hello!

I get this error while logging in with GitHub to access my inbox.

The url is `https://saythanks.io/callback?code=xxxxx`

[2018-10-05 12:50] Depado opened #48 "Thank note falling in spam"
Hey thanks for the amazing project.

Just a small warning, I got a thank note today and the mail I received ended up in the spam.

[2018-10-11 06:43] timofurrer commented on #48
What email provider was that?

[2018-10-11 10:07] Depado commented on #48
Gmail. I flagged the mail as not spam.

[2018-10-27 16:07] remram44 commented on #25
You use auth0, so there is no real way for me to create multiple inboxes if I log in with GitHub (for example). By using auth0, you are promoting a workflow where I will be receiving note and won't know which project they're for.

I got this message today, and while I did appreciate it, I would very much like to know what it was about:

It would be great if:
* I could create multiple inboxes from

[2018-10-31 18:09] yorodm opened #50 "Security issue"
My browser reports an invalid certificate while authenticating via Github.

[2018-11-07 01:44] glasnt opened #51 "[Security] Consider moving to GitHub Pages' integrated HTTPS"
It looks like this project currently uses cloudflare and doesn't automatically redirect to https; automatic and self-contained HTTPS is a recent feature of all GitHub repos now, but requires a maintainer to configure, and for DNS to be pointed in the correct location.

https://blog.github.com/2018-05-01-github-pages-custom-domains-https/

[2019-01-02 19:48] wlandau opened #52 "Cannot log into a new account"
The account was created with an email address, not a GitHub name.

![login](https://user-images.githubusercontent.com/1580860/50609354-647bcc80-0e9d-11e9-9800-c09e471af7b3.png)

[2019-01-09 03:39] daattali commented on #35
I would love this. Every time I get a thank you message, I want to reply to the person with a "thank you for taking the time to show appreciation" but I can't respond!

[2019-01-09 03:39] daattali commented on #39
I was about to open the same issue. Thanks for the initiative @n1try

[2019-01-09 17:07] n1try commented on #39
Could somebody potentially take a look at my PR? :)

[2019-01-12 14:56] roniemartinez commented on #46
I got similar issues

[2019-01-22 05:38] justalemon commented on #46
Found the same problem while trying to log in with this GitHub account.

I might send a PR. but it appears that the project is no longer updated (because #47 has not been merged, and that was from october of last year).

[2019-02-14 13:22] ParthS007 commented on #33
Closing due to inactivity :+1:

[2019-02-14 13:22] #33 closed

[2019-02-14 13:24] ParthS007 commented on #37
Closing due to inactivity :+1:

[2019-02-14 13:24] #37 closed

[2019-02-14 13:24] ParthS007 commented on #38
Closing due to inactivity :+1:

[2019-02-14 13:24] #38 closed

[2019-02-14 13:26] #40 closed

[2019-02-14 13:27] #41 closed

[2019-02-14 13:27] ParthS007 commented on #42
Closing due to inactivity :+1:

[2019-02-14 13:27] #42 closed

[2019-02-14 13:28] ParthS007 commented on #44
Closing due to inactivity :+1:

[2019-02-14 13:28] #44 closed

[2019-02-14 13:29] ParthS007 commented on #46
@justalemon You can send the PR. We will have a look at it :+1:

[2019-02-14 13:29] #48 closed

[2019-02-14 13:29] ParthS007 commented on #50
Closing due to inactivity :+1:

[2019-02-14 13:29] #50 closed

[2019-02-14 13:30] ParthS007 commented on #52
Closing due to inactivity :+1:

[2019-02-14 13:30] #52 closed

[2019-05-04 10:44] patrick-othmer commented on #52
Need to reopen since issue still exists.

Possible incorrect 0auth linking?

Request errors:
GET - https://app59226127.auth0.com/user/ssodata - 404
OPTIONS - https://app59226127.auth0.com/usernamepassword/login - 200 - Correct CORS Header

[2019-05-04 10:46] patrick-othmer opened #53 "Can't login with new account"
Can't login with new account.

Error message: We could not reach the server. Please check your connection and try again.

Possible incorrect 0auth linking?

Request errors:
GET - https://app59226127.auth0.com/user/ssodata - 404
OPTIONS - https://app59226127.auth0.com/usernamepassword/login - 200 - Correct CORS Header

Same Issue already exists, but closed: #52

[2019-05-11 18:58] rswgnu opened #54 "[feature request] Allow for user quotes / testimonials"
Beyond saying thank you, it is often useful to have users send in quotes or testimonials about their experience using a package.  Maybe have a user option that says this is a thank you or a user quote.  For quotes, allow for a longer message.

[2019-06-06 12:39] chrisbra commented on #25
Agree, I added the thanks button to several of my projects. Now I did receive simple "Thanks" messages and it would be helpful, if I actually knew, for which project the user has been saying thanks.

I don't think using 50 buttons for 50 projects is a good workaround.

So please re-open.

[2019-07-11 17:53] rudSarkar opened #55 "[🐛] Internal Server Error While Exporting CSV"
I found a minor bug while you export CSV

# Step to reproduce
1. Create a new account which don't have any thanks message without default one
2. Scroll down you will see `Export your inbox! CSV .`
3. Click on `CSV` for download

Tada! 🥳 You will get error message `Internal Server Error`

Hopefully it will fix soon.Let me know if you have any questions.

Thanks,
Rudra Sarkar
Security Researcher

[2019-07-28 13:58] 1MLightyears opened #56 "[Feature request]Customize username for those who sign in with github OAuth"
Thank you for your honorable work and convenient login through github OA, but I found the title for my page was "Send a Thank You note to 1MLightyears!"

............

Well that's gonna be somewhat embarrasing, for I used to introduce myself to my customers as Lightyears (instead of 1MLightyears). This mistake took place when I signed up github and found "Lightyears" has been occupied, so a compro

[2019-07-30 02:00] BlitzKraft commented on #56
I'll try and find out if that can be done. My preliminary conclusion is that it may not be possible or easy. Since saythanks uses github auth, it can only read the details given out by github. Another option might be to the real name associated with the github account instead of the username. That may not be acceptable to some other users.

[2019-07-31 21:27] BlitzKraft opened #57 "[Feature] Adding gitlab auth0"
Besides email and github, I think gitlab auth is a great option to provide.

[2019-08-12 22:53] csurfer opened #58 "[FeatureRequest] Add attribution to thank you messages"
Developers usually add the SayThanks badge to their Websites and Github projects. Not all messages specify what they are thankful for. If the badges can be created with attribution topics say on the lines of

`saythanks.io/to/<user>/<topic>`

where the topic can be set to project name or website address or whatever, attributing the thanks to a pertinent endpoint becomes easy.

[2019-09-28 12:16] kgashok opened #60 "Stopped working?"
Is the website down? Or has the service been taken down?

[2019-10-01 21:01] BlitzKraft commented on #60
The domain registration has been deactivated. I am trying to find out what happened. Likely, @kennethreitz did it in preparation to transfer, but this is speculation currently.

[2019-10-05 05:28] k4m4 commented on #60
@kennethreitz any updates about this?

[2019-11-28 15:32] jrwrigh commented on #60
Been a couple weeks later. @kennethreitz should I go ahead and remove the url from my repositories?

[2019-11-28 18:06] BlitzKraft commented on #60
@jrwrigh I haven't heard back from @kennethreitz regarding this. I have tried contacting via email and github issues. Not sure if that's relevant to you.

[2019-12-06 15:39] drupol commented on #60
What is happening it's not working anymore, is the project stopped forever?

[2019-12-06 18:58] BlitzKraft commented on #60
I have not been able to get in touch with kenneth reitz. I have requested the domain/hosting to be transferred to me (I'll be bearing the costs too). I have yet to hear from them.

I am looking to get a new domain name for now and keep the application up for now. I am not in favour of that due to this instance having no previous data.

[2020-01-21 09:48] angristan commented on #60
It seems the domain name is up for an auction... https://park.io/auctions/view/saythanks.io

[2020-01-21 16:05] jrwrigh commented on #60
![text](https://media1.giphy.com/media/4LRkCWLi2MKOc/source.gif)

[2020-02-04 06:14] kgashok commented on #60
I have resurrected the domain and hosted it. Please try now.

[2020-02-04 10:45] angristan commented on #60
Awesome! My inbox is empty though, I had a few dozens of messages.

[2020-02-04 15:20] jrwrigh opened #61 "Why does authentication need so much access?"
I was signing back up for saythanks after it had been down, but the authentication access that it asks for seems a bit extreme imo:
![image](https://user-images.githubusercontent.com/20801821/73757865-1764cc80-4727-11ea-9d6d-35282d925624.png)

I would imagine all it really needs is the personal info, not all the admin access stuff.

[2020-02-04 18:11] BlitzKraft commented on #61
It shouldn't need so much access. I signed up the first time a while ago (before it went down) and don't recall needing this many permissions.

[2020-02-04 18:11] BlitzKraft commented on #61
Ignore the closing issue. Clicked the wrong button. My mistake.

[2020-02-04 18:13] BlitzKraft commented on #60
@angristan: It's possible just the domain was resurrected, not the data/hosting.

@kgashok : is that right?

[2020-02-04 23:32] BlitzKraft commented on #60
@kgashok: Thank you for grabbing the domain back and hosting it.

Could you adjust the scope of the github auth to just need the profile info? I don't think it is wise to request full account access from users for this.

[2020-02-05 18:31] csurfer commented on #61
+1 @jrwrigh @BlitzKraft:

Admin access request on
1. Organization and Teams
2. Public SSH Keys
3. Repository webhooks and services

Deletion of repositories

Access to private and public repositories?

This is just too much!

Access user email addresses (read-only) which was the access given earlier is the only one it needs.

[2020-02-05 18:33] BlitzKraft commented on #61
@csurfer : yes, I agree. The permissions are wrong. The scope needs to be limited.

[2020-02-10 12:14] kgashok commented on #61
The scope has been limited. Please check.

[2020-02-10 15:24] BlitzKraft commented on #61
@kgashok: Thank you for the fix.

[2020-02-10 15:24] #61 closed

[2020-02-15 18:59] ldez commented on #60
The site doesn't seem to work well, I got only 404.

- https://saythanks.io/to/kennethreitz
- https://saythanks.io/to/BlitzKraft
- https://saythanks.io/to/kgashok

The current link created by the site contains email instead of username. (ex: https://saythanks.io/to/example@email.com)

[2020-02-16 00:52] BlitzKraft commented on #60
@ldez I am aware of this issue. Working on a fix.

[2020-02-21 16:54] ofek commented on #60
@BlitzKraft Hello! Any update?

[2020-02-21 18:51] BlitzKraft commented on #60
@ofek The site is up and hosted, thanks to @kgashok. I'm working on bug fixes.

[2020-02-21 20:13] ofek commented on #60
Oh yes I meant the old links not working and now use email

[2020-02-27 08:45] lorrx opened #62 "sqlalchemy.exc.IntegrityError on logging in with Github"
I have changed the primary email address of my Github account. After logging in to saythanks.io the following error was displayed.

`sqlalchemy.exc.IntegrityError: (psycopg2.IntegrityError) duplicate key value violates unique constraint "inboxes_pk"
DETAIL:  Key (auth_id)=(github|xxxxxxx) already exists.
 [SQL: 'INSERT into inboxes (slug, auth_id) VALUES (%(slug)s, %(auth_id)s)'] [parameters: {'sl

[2020-03-30 18:46] kgashok opened #63 "Email addresses are exposed on the redirection links to the inbox"
The project has been using OAuth Version 1.0.

By moving to OAuth Version 2.0, we can get additional information including `userid` or `nickname` or `displayname` and use that instead of email address in the redirection links to the inbox.

[2020-04-07 05:32] kgashok commented on #63
Issue still not resolved fully.

[2020-06-04 13:46] KTibow commented on #63
This is important, I have a personal and public email, it'd be at least nice to choose between which email addresses that saythanks got when I registered with GitHub.

[2020-08-15 08:14] kgashok opened #68 "Add 'good for beginners' labels to the issues"
This will encourage first timers to contribute.

[2020-09-21 07:56] 0xcrypto opened #69 "Personal email included in the saythanks url"
The reason I want to use saythanks is to avoid direct emails and avoid giving away my personal email. But the email is included in the url itself! What would be the difference if I am giving `https://saythanks.io/to/my@email.com` instead of `my@email.com`?

[2020-12-21 14:17] spookyahell commented on #69
I second this - No, i don't hour, minute or day it, I second it :)

[2021-01-18 04:22] #51 closed

[2021-02-14 16:03] rugk commented on #60
Your own "say thanks" link is a 4040 link: https://saythanks.io/to/kennethreitz

So there still seems to be something wrong, @kennethreitz42.

Nevertheless thanks for this project and happy [ILoveFS day 2021](https://fsfe.org/activities/ilovefs/)! :hugs:

[2021-02-26 10:32] spookyahell commented on #69
If this issue is not addressed (soon™️), maybe someone should cancel the service/server to avoid paying for something like this

[2021-03-17 23:42] PierreAdam commented on #69
Let's not go to calling it useless.... I find the projet really cool to be honest. But I agree that this is an issue as it's clearly showing the email of the owner, including in the message itself. So if you somehow missed it in the URL, it's clearly written in the message now.
If this issue can be resolved, I would definitly use the saythanks.io service.

[2021-03-19 05:46] Not-Qualified opened #70 "Nothing is Working in Your Website Except Home Page"
![image](https://user-images.githubusercontent.com/52353116/111736739-6e365280-88a4-11eb-8cd4-00aebfacbe82.png)

[2021-03-19 05:48] Not-Qualified commented on #70
![image](https://user-images.githubusercontent.com/52353116/111736955-c40afa80-88a4-11eb-82e1-3b7f41a9414f.png)

[2021-04-05 18:28] kgashok commented on #69
@PierreAdam by the time I took over maintenance of this repo, that change was already baked in.
My team and I are in the process of resolving this.

[2021-04-05 18:32] kgashok commented on #70
Kenneth doesn't maintain this repo anymore. The problem you are facing might be related to [this](https://github.com/BlitzKraft/saythanks.io/issues/69). We will resolve this shortly.

[2021-04-05 18:40] spookyahell commented on #70
@kgashok I know you're probably aware and planning to update that as well, but if Kenneth no longer operates the site you should probably take care of references to his name (as maintainer) on the site after fixing the email/username issue.* (He could remain named somewhere, assuming he doesn't mind being titled "inventor" or similar)

*I'm glad there's a new sign of life from the new administrati

[2021-04-05 19:16] PierreAdam commented on #69
@kgashok it's really good to know that the project is active and going somewhere ! Wish you well and hopefully soon be able to close this issue ! 😃

[2021-04-14 17:54] #39 closed

[2021-04-15 07:12] kgashok opened #77 "configurable font style for note creation form as well as inbox viewing"
The default font now is **HuiFont,** a free Japanese handwriting font.
![image](https://user-images.githubusercontent.com/2399010/114828482-9489d800-9de7-11eb-81a5-1a988ef0ee20.png)

The user must be able to choose a different font for note creation as well as viewing the inbox.
A "Settings" page might present some choices for the user to choose from.

[2021-04-15 07:18] kgashok commented on #60
Project and domain have been resurrected, albeit, in a broken manner.
@rugk @ofek @angristan

[2021-04-15 07:18] #60 closed

[2021-04-15 07:44] kgashok opened #78 "How-To document on creating local dev setup"
Similar to https://github.com/kgashok/memcode/blob/master/Readme.md#initial-setup-for-development

[2021-04-15 10:32] kgashok opened #79 "Email delivery to actual email address is not working"
While messages are stored in the saythanks.io, it is not being forwarded to the actual email address of the user.

[2021-04-15 13:43] kgashok commented on #79
sendgrid has been reconfigured on the server.

[2021-04-15 13:43] #79 closed

[2021-04-15 17:03] kgashok opened #80 "improve CONTRIBUTING.md file with ideas for contribution"

[2021-04-15 17:04] kgashok commented on #80
The current [file](https://github.com/BlitzKraft/saythanks.io/blob/master/CONTRIBUTING.md) is rather insipid.
It needs some oomph!

[2021-04-15 17:19] kgashok opened #82 "Make the project first-timer-only friendly"
Read up and implement https://kentcdodds.com/blog/first-timers-only

[2021-04-15 17:28] kgashok opened #83 "ES Lint or current Github Action? Which is better?"
https://eslint.org/ comes highly recommended.

Right now, a github workflow action https://github.com/marketplace/actions/prettier-action which uses https://prettier.io/

Should we switch? Or stay with what we have?
Comment below.

[2021-04-17 18:29] kgashok opened #88 "Name is missing in the welcome page!"
![image](https://user-images.githubusercontent.com/2399010/115123017-b5fde600-9fd8-11eb-8f1e-9ae2e77336f8.png)

[2021-04-17 18:34] kgashok opened #89 "Update the footer of the email sent to the inbox through sendgrid"
![image](https://user-images.githubusercontent.com/2399010/115123191-96b38880-9fd9-11eb-89b6-531edc67318f.png)

- Reference to Keneth Reitz can be updated

[2021-04-17 18:59] kgashok commented on #89
![image](https://user-images.githubusercontent.com/2399010/115123931-1858e580-9fdd-11eb-9255-dad9e3fdf144.png)

...even though I changed the footer, it doesn't work in a test email.

[2021-04-17 19:02] kgashok opened #90 "Update welcome page by removing unnecessary links"
![image](https://user-images.githubusercontent.com/2399010/115123992-7259ab00-9fdd-11eb-92eb-5b9d868284b7.png)

From the first Bitcoin era, these links are not relevant.

[2021-04-17 19:10] kgashok opened #91 "Move to OAuth 3.0"
Right now, we are running `OAuth0` or `OAuth2`?
Which is it?

[2021-04-18 06:41] kgashok commented on #89
![image](https://user-images.githubusercontent.com/2399010/115136692-19226380-a03f-11eb-8099-76e432380293.png)

Need to provide email address instead.

[2021-04-18 11:16] unnumsykar commented on #90
hey ! I want to work on this issue !

I have pull request for this issue

[2021-04-18 13:17] kgashok commented on #89
![image](https://user-images.githubusercontent.com/2399010/115146926-56eeae80-a076-11eb-856e-b3edeffd6d29.png)

[2021-04-18 13:20] #89 closed

[2021-04-18 16:42] #88 closed

[2021-04-18 16:56] kgashok commented on #88
![image](https://user-images.githubusercontent.com/2399010/115153717-0470ba80-a095-11eb-8a4d-8bbfb6a14a9b.png)

[2021-04-18 17:50] bunnyrockz commented on #90
can you please check my PR, as the previous one was not compatible

[2021-04-18 18:00] kgashok commented on #90
@bunnyrockz, accepted. FOR THE W.I.N.!

[2021-04-18 18:00] kgashok commented on #90
Other changes are required. Watch this space.

[2021-04-19 08:26] kgashok opened #99 "Picture from OAuth profile is not visible in the inbox page. Why?"

[2021-04-19 09:03] kgashok opened #101 "sqlalchemy.exc.IntegrityError when alternative email address is specified"
I have two email accounts on gmail. When I use the 2nd one, I get this error:

![image](https://user-images.githubusercontent.com/2399010/115210377-24978c80-a11c-11eb-9213-0c21d12cad73.png)

[2021-04-19 09:43] #99 closed

[2021-04-19 12:22] kgashok opened #103 "With empty database, IndexError happens"
![image](https://user-images.githubusercontent.com/2399010/115235553-f162f680-a137-11eb-8a7e-1a7836c445c2.png)

[2021-04-19 12:26] kgashok commented on #103
`r[0]` indicates that it expects at least one inbox.

![image](https://user-images.githubusercontent.com/2399010/115235981-6f270200-a138-11eb-8a5d-a9986425a238.png)

[2021-04-19 12:59] ayush5911 commented on #90
hello sir,
I want to work on this issue!

[2021-04-23 11:23] yusufjk commented on #90
@kgashok I want to work on this one. What are the other changes required?

[2021-04-24 05:21] farhan-naqvi commented on #90
@kgashok I am interested in working on this issue. Do let me know what are the changes that are needed to be done.

[2021-04-24 15:38] angristan opened #105 "HTTPS certificate issues"
I was having issues connecting to saythanks.io with a Rust program, and it turns out the server return an incomplete certificate chain: https://www.ssllabs.com/ssltest/analyze.html?d=saythanks.io

Also, the HTTPS config looks pretty outdated.

Would it be possible to fix it please ? 🙏

[2021-08-13 21:25] kgashok commented on #105
@angristan overall rating of "B" is shown.

![image](https://user-images.githubusercontent.com/2399010/129419873-9a983de8-1540-4eae-b6b6-953eebe8a031.png)

[2021-08-14 07:08] kgashok commented on #105
and now...

![image](https://user-images.githubusercontent.com/2399010/129438298-963fb5ee-2ebf-4aaa-9c8e-7566a5349899.png)

[2021-08-14 07:08] #105 closed

[2021-08-14 10:10] angristan commented on #105
thanks 🎉

[2021-10-02 10:04] Geraldlyon commented on #82
I would love to make the project first-timers-only friendly

[2021-10-12 08:25] kgashok opened #106 "Facebook authentication fails"
### When trying to authenticate using Facebook, this error shows up
![image](https://user-images.githubusercontent.com/2399010/136919856-d76262a2-7c54-4870-b82e-ccc756420cd8.png)

### ...and then the following fail screen is as below:

![image](https://user-images.githubusercontent.com/2399010/136919736-09924933-e43a-415b-8b4d-56073339b6fd.png)

[2021-10-12 17:08] kgashok opened #107 "Update the README.md file"

[2021-10-12 17:22] kgashok commented on #78
Can we set some deadlines for this?

[2021-11-12 01:09] kgashok opened #109 "QR Code for saythanks.io URL"
![image](https://user-images.githubusercontent.com/2399010/141391768-cd8c2121-95ba-4e75-8d19-d3e36a795daf.png)

In addition to the options of buttons and URL, it would be good to have a QR code for the link as well, similar to something like below:

![thankkg](https://user-images.githubusercontent.com/2399010/141391435-49269fbc-00e2-4e75-b47f-f1d50fe1c6d5.png)

[2021-12-08 15:58] kgashok opened #110 "Archiving a message causes IndexError"
Archiving a message in the inbox causes an error, which is screen-captured below:

![image](https://user-images.githubusercontent.com/2399010/145240552-1dfa949e-c0ce-42f7-bc27-3ffad6ce8bd9.png)

[2021-12-08 16:45] DeepakChakravarthy commented on #109
Sir It is a Good Idea to have a QR Code for the Profile-Accounts
I Would Like to Suggest  PyPI for QR Code Generation [https://pypi.org/project/Flask-QRcode/](url)
There is Clear Documentation for the Pip [https://marcoagner.github.io/Flask-QRcode/#](url)

[2021-12-10 13:06] kgashok commented on #109
@DeepakChakravarthy Now, since you think it is a good idea, why don't you implement it yourself?

[2021-12-10 13:07] kgashok commented on #110
@dinesh131 Please indicate which lines you corrected to fix this?

[2021-12-10 13:45] kgashok opened #112 "Broken link to installation markdown file"
### Broken Markdown link

In the [README.md](/home/kgashok/saythanks.io/docs/README.md) file, the "markdown file" link is broken.

![image](https://user-images.githubusercontent.com/2399010/145583216-ce0c0dec-e635-47f4-ab03-22841d16dfca.png)

[2021-12-10 13:54] kgashok opened #113 "Automatic versioning based on git"
In the [CONTRIBUTING.md](/home/kgashok/saythanks.io/CONTRIBUTING.md) file, there is a mention of versioning:

![image](https://user-images.githubusercontent.com/2399010/145584615-b5b901f7-3143-436d-94b9-2ba6936587ec.png)

- Is it possible to achieve this in a different manner?
- Are there better next practices to assigning versioning numbers?

[2021-12-10 14:01] kgashok opened #114 "Improve the DEVELOPMENT markdown file"
The `DEVELOPMENT.md` needs to become more comprehensive. Until then, refer to /docs folder for more details on setting up a development environment.

[2021-12-10 14:39] kgashok opened #116 "Refactor the code to use records github repo"
Use case for ```"SQL for Humans"``` - refactor the SQL code that interacts with the database to use https://github.com/kennethreitz/records.

![image](https://user-images.githubusercontent.com/2399010/145591675-47708d30-d65c-47fb-80dc-683e6a6bb4bd.png)

[2021-12-10 14:50] kgashok opened #117 "Create new bitcoin accounts"
Help receive contributions for maintaining this project. Create new `bitcoin` and `Ether` account and update it on the template.

![image](https://user-images.githubusercontent.com/2399010/145592848-9d61d8de-afcc-4745-93f2-d61f9d273d6f.png)

[2021-12-10 15:08] ashutosh-mishra4 commented on #112
Hey @kgashok Please assign this issue to me.

[2021-12-10 17:30] #112 closed

[2021-12-10 18:02] kgashok opened #118 "Add a link to create a "New Issue" on the github project repo"
By way of providing feedback on the project, a link can be made available at the footer of every page

This will encourage users/reviewers to make suggestions for improving the project. Create an additional line with a link to the "New Issue" dialog, exactly as shown below:

![image](https://user-images.githubusercontent.com/2399010/145622803-b96d1b37-9523-4f80-8182-8ed8ac5dab1c.png)

Once the lin

[2021-12-10 18:17] kgashok commented on #118
Review this [freecodecamp](https://www.freecodecamp.org/news/how-to-use-html-to-open-link-in-new-tab/) article on how to address security concerns when it comes to launching new tabs on link clicks.

[2021-12-10 18:34] kgashok opened #119 "A left side "Github Issue Ribbon" to encourage feedback via issues on the github repo"
Please review #118  to get the context. A more elegant resolution would be a Left side ribbon with the words "New Issue" that links to the "New Issue" dialog on github.  For inspiration, please see https://github.blog/2008-12-19-github-ribbons/

![image](https://user-images.githubusercontent.com/2399010/145623833-3c7b302a-3832-4cdc-b3cd-31832c52adde.png)

[2021-12-11 05:13] IMTejesh95 commented on #118
I would like to work on this issue. :smile:

[2021-12-11 05:54] IMTejesh95 commented on #118
file:///home/tejesh/Pictures/Screenshot%20from%202021-12-11%2011-22-51.png
file:///home/tejesh/Pictures/Screenshot%20from%202021-12-11%2011-22-23.png

[2021-12-11 05:59] IMTejesh95 commented on #118
Attached local screenshots please check!

1. Hover on link to see url in left corner
![Screenshot from 2021-12-11 11-22-51](https://user-images.githubusercontent.com/33658194/145665948-0241debc-88b8-4588-9d6f-803205c6f9dc.jpg)

2. Opened link in new tab
3. 'New issue' opened in new tab after clicking on above link
![Screenshot from 2021-12-11 11-22-23](https://user-images.githubusercontent.com/336

[2021-12-11 07:05] Pavithratrdev commented on #116
Refactoring involves changing the code so that it is better written or in a position to be made better later on. It is best to constantly make small improvements over time.

[2021-12-11 12:37] kgashok commented on #118
@IMTejesh95  - go for it!

0. Which file are you modifying?
1. From the above image, the link seems to be in reverse highlighted - how can you avoid this?
2. Is the link visible in all the pages?

[2021-12-11 12:45] IMTejesh95 commented on #118
Hey @kgashok,
0. I am modifying `base.htm.j2`.
2. It's not. :fearful:

[2021-12-11 12:48] IMTejesh95 commented on #118
Sorry, but I do not understand your point no. 1

[2021-12-11 12:52] kgashok commented on #118
Don't bother about Point 1.
0. Can you correct "an new githbub issue" to "a new github issue"
1. And change 2018, to 2021.

[2021-12-11 12:56] kgashok commented on #118
...but this isn't your first Pull Requests, isn't it? I am not sure how you want me to handle this.
Can you tackle some of the more advanced issues here?

[2021-12-11 12:59] IMTejesh95 commented on #118
Oh, I made a grammatical mistake there, will fix that right away!
And also change 2018 -> 2021
<hr/>
Yup, this is my first one and I think I can tackle the advanced issues too :smile:

[2021-12-11 13:03] IMTejesh95 commented on #118
Pushed these changes.

[2021-12-12 05:53] kgashok opened #123 "merge docx files in docs as single setup file"
/docs directory has two word documents.
Merge into one.

[2021-12-13 06:36] qadirpervez commented on #119
I would like to work on this issue.

[2021-12-22 04:03] kgashok opened #126 "keyboard shortcut for "Send Note""
Need a keyboard shortcut `<Ctrl> + <Enter>` for "Send Note" button.

![image](https://user-images.githubusercontent.com/2399010/147033672-77919cb3-7bf8-4d0c-9d44-860dc65ac8a4.png)

[2021-12-22 17:47] ASHISHKUMAR2411 commented on #126
If it is a form then, One thing we know is by default we can submit forms with the enter key, it is not the same when forms have a Textarea tag or contenteditable attribute. For that, we can use jquery to trigger the submit button.
`$('form').keydown(function(event) {
  if (event.ctrlKey && event.keyCode === 13) {
    $(this).trigger('submit');
  }
})`
Ref - [https://harlemsquirrel.github.io/javas

[2021-12-23 06:19] #109 closed

[2021-12-23 06:31] #117 closed

[2021-12-23 12:59] kgashok commented on #126
@ASHISHKUMAR2411 do you want to take this issue up?

[2021-12-23 13:10] kgashok commented on #119
Can you please elaborate on how you will go about doing this?
Thanks,

[2021-12-23 13:11] kgashok commented on #118
Thank you for your contribution, @IMTejesh95

[2021-12-23 13:11] #118 closed

[2021-12-23 13:11] #110 closed

[2021-12-23 13:13] kgashok commented on #113
...or why not use the SHA github number for development versioning?

[2021-12-23 19:37] kgashok opened #130 "Focus on the Note Editor as soon as the page is loaded"
After the note editor page is loaded, the focus of the cursor can be placed immediately in the Note Editor dialog.
This will allow the user to start typing in the message thereafter.

![image](https://user-images.githubusercontent.com/2399010/147284967-2eb7e159-4ff2-4617-8d52-f4a3b5771b8a.png)

[2021-12-23 20:03] siddhantdixit commented on #130
Can I work in this?

[2021-12-25 05:05] kgashok commented on #130
Please indicate how you will go about doing this.
That way, I will be able to accept the PR as soon as you do it.

[2021-12-25 09:49] siddhantdixit commented on #130
@kgashok  Thanks for assigning this to me.

https://github.com/BlitzKraft/saythanks.io/blob/3b015fb2bf7030de81d5adf2b1d2de2a43388bf0/saythanks/templates/submit_note.htm.j2#L21

This can be resolved by adding **autofocus** attribute to the corresponding textarea in submit_note template

[2021-12-27 02:51] kgashok commented on #130
Good idea, go ahead with your PR, after you've tested it as well.

[2021-12-27 03:10] kgashok commented on #69
@PierreAdam, @0xcrypto, @spookyahell et. al

This issue has been resolved. Thanks,

[2021-12-27 03:10] #69 closed

[2021-12-27 03:11] kgashok commented on #56
@1MLightyears Does this issue still persist for you? Please confirm.

[2021-12-27 16:28] Pavithratrdev commented on #57
Interesting feature..

[2021-12-27 16:29] Deepthi-Deepu commented on #126
I would like to work on this

[2021-12-27 16:32] Deepthi-Deepu commented on #130
I can solve this issue

[2021-12-27 16:36] DeepakChakravarthy commented on #106
I Would Like to Work on this Issue sir
and get More Explored in the Configuration of Oauth with Facebook Authentication

[2021-12-27 16:37] RamkumarMrj commented on #123
I would like to work on this.

[2021-12-27 18:20] kgashok commented on #130
@Deepthi-Deepu , @siddhantdixit  - First-come first-fold! Of course, provided the PR works as expected!
Good luck!

[2021-12-28 08:09] Akshaya-jaikumar opened #132 "All Activities"

[2021-12-28 08:34] kgashok commented on #130
Works on the local host, but not on the server.

[2021-12-28 08:40] #130 closed

[2021-12-28 08:44] siddhantdixit commented on #130
@kgashok I think it should work same on server as localhost as we have only changed some html attributes. 🤔

[2021-12-28 10:33] kgashok commented on #130
Yes, @siddhantdixit, it works now. Thanks,

[2021-12-28 10:35] kgashok commented on #132
What is this issue about @Akshaya-jaikumar?

[2021-12-28 11:16] #132 closed

[2021-12-28 11:18] jeromeR777 commented on #132
No issues

[2021-12-29 14:05] Deepthi-Deepu commented on #114
Sir, I will work on this..

[2021-12-30 01:43] #126 closed

[2021-12-30 05:13] kgashok commented on #123
You have to do a PR for me to fold this into the repo @RamkumarMrj

[2021-12-30 11:29] Pavithratrdev commented on #114
Sir, I will work on this

[2021-12-30 11:30] Pavithratrdev commented on #77
Sir, I will work on this

[2021-12-30 11:34] Pavithratrdev opened #137 "DevOps Integration - To update the source"
DevOps Integration - To update the source

[2021-12-30 11:35] Pavithratrdev commented on #137
DevOps Integration - Using Jenkins

[2021-12-30 11:41] kgashok commented on #77
Rope in others as you deem fit - ask them to indicate their interest against this issue.

[2021-12-30 17:00] harshil-guptha commented on #137
Sir, myself and Tarun would like to work on this issue.

[2021-12-30 19:14] kgashok opened #138 "Line too long FLK-E501"
As indicated by DeepSource https://deepsource.io/gh/kgashok/saythanks.io/issue/FLK-E501/occurrences

[2021-12-30 19:19] kgashok opened #139 "Block comment should start with `#` FLK-E265"
As indicated by DeepSource Discover https://deepsource.io/gh/kgashok/saythanks.io/issue/FLK-E265/occurrences

[2021-12-30 19:22] kgashok opened #140 "Missing module/function docstring PY-D0003"
As indicated by DeepSource Discover - https://deepsource.io/gh/kgashok/saythanks.io/issue/PY-D0003/occurrences

[2021-12-30 20:02] kgashok commented on #126
This only works from the Sender Dialog box. And that's okay.

[2021-12-30 20:17] kgashok opened #142 "Useless inheritance from `object` PYL-R0205"
Two lines that need fixing:

- [Note](https://github.com/BlitzKraft/saythanks.io/blob/9a5655743ea2f67c3661b99869bed0a341be2f51/saythanks/storage.py#L22)
- [Inbox](https://github.com/BlitzKraft/saythanks.io/blob/9a5655743ea2f67c3661b99869bed0a341be2f51/saythanks/storage.py#L86)

[2021-12-30 20:44] kgashok opened #143 "Found unused expressions JS-0093"
At this [line](https://github.com/BlitzKraft/saythanks.io/blob/5af2d99f11fcb047551980e3797eb50bb26c694c/saythanks/static/js/jquery.simplyCountable.js#L102), an unused expression. What is the point of keeping it around?

[2021-12-30 20:53] kgashok opened #144 "Unexpected keyword argument in function call PYL-E1123"
The error is indicated at this [line](https://github.com/BlitzKraft/saythanks.io/blob/5af2d99f11fcb047551980e3797eb50bb26c694c/saythanks/myemail.py#L10-L10).

[2021-12-30 20:56] kgashok opened #145 "Do not use bare `except`, specify exception instead FLK-E722"
The issue is flagged at this [line](https://github.com/BlitzKraft/saythanks.io/blob/master/saythanks/storage.py#L123-L123) and [here](https://github.com/BlitzKraft/saythanks.io/blob/master/saythanks/storage.py#L142-L142).

Using `except` without a specific [exception](https://docs.python.org/3.6/library/exceptions.html) can be error prone. Possible bug risk as well.

[2021-12-30 21:05] kgashok opened #146 "Found some variables redeclared JS-0085"
The issue is with this line [here](https://github.com/BlitzKraft/saythanks.io/blob/master/saythanks/static/js/main.js#L16-L16).

In JavaScript, it's possible to redeclare the same variable name using `var`.
This can lead to confusion as to where the variable is actually declared and initialized.

[2021-12-30 21:24] kgashok opened #147 "Add project to the good-first-issue portal"
This way, those issues that are labeled as `good-first-issue`, will get picked up by the twitter bot @gfi_dev.

Follow instructions [here](https://github.com/deepsourcelabs/good-first-issue#adding-a-new-project).

[2021-12-30 21:56] kgashok commented on #53
@patrick-othmer Please note you will have to re-create your inbox again on saythanks.io before you can use it again. After you create a fresh login, the issues should not persist.

[2021-12-30 21:56] #53 closed

[2021-12-30 22:00] kgashok commented on #77
Actually this might be related to #31

![image](https://user-images.githubusercontent.com/2399010/147790663-e007b97e-a7fb-4c65-bf2b-67c8155bff6f.png)

[2021-12-31 10:38] sumit-158 commented on #146
can I work on this?

[2021-12-31 11:23] kgashok opened #149 "Re-definition found for builtin function PYL-W0622"
At this [line](https://github.com/BlitzKraft/saythanks.io/blob/master/saythanks/storage.py#L186-L186) and [here](https://github.com/BlitzKraft/saythanks.io/blob/master/saythanks/core.py#L92-L92),

[2021-12-31 11:44] kgashok opened #150 "Exception caught is very general PYL-W0703"
The issue is at this [line](https://github.com/BlitzKraft/saythanks.io/blob/master/saythanks/myemail.py#L41-L41).

[2021-12-31 11:53] kgashok commented on #150
Since the `sendgrid` package is being used, it behooves to start at the documentation:

https://github.com/sendgrid/sendgrid-python/blob/main/TROUBLESHOOTING.md#error-handling

...and from that page, I found the relevant [use case](https://github.com/sendgrid/sendgrid-python/blob/main/use_cases/send_a_single_email_to_a_single_recipient.md).

[2021-12-31 12:05] kgashok commented on #150
Furthermore, read about to handle [HTTP errors](https://github.com/sendgrid/sendgrid-python/blob/main/TROUBLESHOOTING.md#error).

[2021-12-31 12:12] kgashok opened #151 "Option to send HTML emails instead of plain text emails"
The note sent to the user should have the option to be sent via email in either text, or HTML format.

On a related note, https://stackoverflow.com/questions/27050781/python-smtp-emails-showing-both-plain-and-html-versions

[2021-12-31 16:32] kgashok opened #152 "Graceful exception handling and error handling of sendgrid mail when Internet is disrupted"
Even if the connectivity should get disrupted, the system should catch errors and exceptions.
And suitably report to the user of the system failure, if any.

![image](https://user-images.githubusercontent.com/2399010/147832493-289fba42-a66e-4974-959e-04344977ae6f.png)

[2021-12-31 16:50] kgashok opened #153 "Re-defined variable from outer scope PYL-W0621"
For example, Redefining name 'inbox' from outer scope (line 71) in core.py

`inbox` variable has to be renamed as `inbox_db`

[2021-12-31 17:14] kgashok opened #155 "Attribute defined outside `__init__` PYL-W0201"
In Line 42 and Line 53 of https://github.com/BlitzKraft/saythanks.io/blob/master/saythanks/storage.py#L53-L53

[2021-12-31 17:31] #123 closed

[2022-01-01 02:38] kgashok opened #156 "(PYL-W0231) `__init__` method from the base class not called"
## Description
The ancestor class method has an init method which is not called by the derived class. This can cause unintended consequences.

## Occurrences
There is 1 occurrence of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/kgashok/saythanks.io/issue/PYL-W0231/occurrences/](https://deepsource.io/gh/kgashok/saythanks.io/issue/PYL-W0231/occurrences/)

[2022-01-01 09:06] Pavithratrdev commented on #77
Yes Sir, Both are same - #31 and #77

[2022-01-01 09:15] Pavithratrdev commented on #103
Two Scenarios for this issue:
1. Table does not exist - Error will occur (we can ignore it)
2. Table exist and data is empty - We need to fix it

[2022-01-01 09:21] kgashok commented on #137
@harshil-guptha Done! Good luck,

[2022-01-01 09:21] Pavithratrdev commented on #116
Refactoring is already implemented.

[2022-01-01 09:27] Pavithratrdev commented on #57
Gitlab integration is secured and it is given only at organization level.
Refer - https://community.auth0.com/t/add-gitlab-as-a-social-connection-for-auth0/44348.

[2022-01-01 10:17] kgashok opened #157 "Timestamp each note in the inbox"
It would be good if the time of when the note was sent is also displayed.
Which means, the note has to be timestamped with the date (as per the time zone).

[2022-01-01 15:02] tarunkumark commented on #151
Sir, I would like to take this issue. I have planned to add radio buttons for plain-text and html and based on the choice, the content type within notify() will change.

[2022-01-01 16:48] Tomracer commented on #156
I'd like to take this issue.

[2022-01-01 18:19] kgashok opened #159 "Provide database support to store topic information"
For the functionality #58,  database can now store topic information for every note.

[2022-01-01 18:20] Pavithratrdev commented on #159
Sir, I will work on this

[2022-01-01 18:22] #138 closed

[2022-01-01 18:22] #139 closed

[2022-01-01 18:22] #144 closed

[2022-01-01 18:22] #149 closed

[2022-01-01 18:22] #150 closed

[2022-01-01 18:22] #153 closed

[2022-01-01 18:24] #155 closed

[2022-01-01 18:32] kgashok opened #160 "Error on topic feature implementation"
@csurfer ,
As per #59 (resolution for #58  ), an error was seen as shown below (see highlighted lines):

![image](https://user-images.githubusercontent.com/2399010/147857680-0b6051f7-d96c-401e-ba10-eda7f8b32dc9.png)

[2022-01-01 18:34] Pavithratrdev commented on #160
Sir, I will fix this

[2022-01-01 18:48] kgashok commented on #159
Issues like adding a column, will include what kind of
  - planning
  - designing

[2022-01-01 18:56] kgashok opened #162 "Keyboard shortcut to Accept the default placeholder contents in the note"
In conjunction with #159 will provide comprehensive functionality to #59 topic attribution feature that was added.

user to add some more words...

[2022-01-01 19:05] kgashok commented on #58
Thanks for the feature suggestion @csurfer

[2022-01-01 20:04] #57 closed

[2022-01-01 20:04] #116 closed

[2022-01-01 21:52] williskneeland commented on #157
I'd like to try adding this!

[2022-01-02 02:22] kgashok commented on #157
@williskneeland , all yours.

[2022-01-02 02:28] kgashok opened #164 "Documentation for topic attribution"
README.md to include some description of the #59 feature that has been implemented.

[2022-01-02 12:16] kgashok commented on #137
@Pavithratrdev, @harshil-guptha
How about also "dockerize"ing this project? Take a look at [this](https://github.com/arshadkazmi42/first-issues/issues/56).
Maybe that repo maintainer can help give some ideas.

[2022-01-02 12:50] harshil-guptha commented on #137
Sure sir, will definitely look into it.

[2022-01-02 13:00] Professor-Sathish commented on #142
I would like to do , can you assign me sir

[2022-01-02 13:05] #142 closed

[2022-01-02 16:47] kgashok opened #168 "(FLK-E722) Do not use bare except, specify exception instead #15"
## Description
Using `except` without a specific exception can be error prone.

## Occurrences
There are 2 occurrences of this issue in the repository.

Line [123](https://github.com/BlitzKraft/saythanks.io/blob/master/saythanks/storage.py#L123-L123) and Line 142.

[2022-01-02 17:14] kgashok commented on #114
@Pavithratrdev ,

See https://github.com/kgashok/memcode/blob/master/Readme.md#initial-setup-for-development for further ideas on how to improve this document.

[2022-01-02 17:14] #114 closed

[2022-01-02 18:28] h-leth commented on #168
Could the it be changed to `else:` instead? Then if there is a error it will be raised

[2022-01-03 15:59] Professor-Sathish commented on #168
I want to solve this issue. Can you assign me?

[2022-01-03 17:42] kgashok commented on #168
It is all yours.

[2022-01-06 06:25] kgashok opened #171 "Link to send to Twitter from saythanks.io"
A link to send to Twitter account would be useful. And also to Facebook.

![image](https://user-images.githubusercontent.com/2399010/148338357-c203227f-a269-4316-bd46-402474c6d730.png)

[2022-01-06 06:26] kgashok commented on #168
Discuss with @Pavithratrdev - she knows how Exceptions are handled in the real world.

[2022-01-06 06:34] Pavithratrdev opened #172 "Pull request posting in Twitter App"
Pull request posting in Twitter App

[2022-01-06 06:35] Pavithratrdev commented on #172
Sir, Please assign me. I have a JavaScript based solution for this...

[2022-01-06 17:20] kgashok commented on #160
Another error noticed when trying to send note to @arshadkazmi42 saythanks inbox with the topic set to `first-issues`

https://saythanks.io/to/arshadkazmi42/first-issues

![image](https://user-images.githubusercontent.com/2399010/148423635-acde5de0-f18a-4f4f-8c3c-97d7230acc05.png)

[2022-01-07 07:08] Pavithratrdev commented on #145
Sir, Both #145 & #173 are same

[2022-01-07 09:27] tarunkumark commented on #77
I would like to work on this as well sir

[2022-01-07 15:42] kgashok commented on #77
@Pavithratrdev , @tarunkumark

You can add the screenshots here, to indicate how you intend to go about it.
Or make it part of the PR request information.

[2022-01-07 16:02] kgashok opened #174 "Improve pull_request_template.md file"
Review https://github.com/appium/appium/blob/master/.github/PULL_REQUEST_TEMPLATE.md

Discuss which parts are relevant to this project, and add/modify the current [template](https://github.com/BlitzKraft/saythanks.io/blob/master/pull_request_template.md), including moving it to /docs directory.

@Pavithratrdev

[2022-01-07 16:52] ManishankarRJ commented on #171
@Deepthi-Deepu @RamkumarMrj and Myself will solve this issue

[2022-01-07 17:02] kgashok commented on #171
@ManishankarRJ  your name is added. But @Deepthi-Deepu and @RamkumarMrj have to comment here if they want to be added.  @Pavithratrdev

[2022-01-07 19:27] kgashok commented on #77
@tarunkumark - if you local development environment works, you should do a PR as well. That way, you will get attribution for the code change.

[2022-01-07 19:28] kgashok commented on #77
## For inspiration, here's the Settings page on Memcode
![image](https://user-images.githubusercontent.com/2399010/148596621-8ce8d213-74da-4b1f-bb6b-9bbaade333e6.png)

[2022-01-07 21:37] kgashok commented on #146
@sumit-158 the issue got closed much earlier. Please picks another one.

[2022-01-07 21:37] #146 closed

[2022-01-08 11:01] tarunkumark commented on #162
I would like to work on this issue, especially the first feature. As for the second feature, while fixing issue #159, #160 @Pavithratrdev and I will push patches for the corresponding features here as well.

[2022-01-08 22:56] Pavithratrdev commented on #174
Sure sir, will do it

[2022-01-09 04:02] kgashok commented on #174
Some other formats:

## What does this PR do?

Fixes #\<issue_number>

### Does your PR introduce any breaking changes? If yes, please list them.

## Before submitting

- [ ] Was this **discussed/approved** via a GitHub issue? (not for typos and docs)
- [ ] Did you read the [contributor guideline](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/.github/CONTRIBUTING.md), **Pull Re

[2022-01-09 14:09] Pavithratrdev opened #177 "Issue in sending email to others after accessing our own inbox"
Issue in sending email to others after accessing our own inbox.

Link to send message : https://saythanks.io/to/tkksctwo, But email has been received by sender.

![image](https://user-images.githubusercontent.com/63831132/148685789-75161905-17d8-4002-aae6-028b865f9e5c.png)

[2022-01-09 14:58] kgashok commented on #101
Might be useful for #173 - however, cannot replicate this error. Closing it for now.
@Pavithratrdev @Professor-Sathish

[2022-01-09 14:58] #101 closed

[2022-01-09 14:59] kgashok commented on #177
@Pavithratrdev On a related note, how do we "log out" of our saythanks.io account?

[2022-01-09 15:11] kgashok commented on #177
On Google, I can be logged into two accounts at the same time.
In this case, when I click "Access my saythanks inbox" button, OAuth shows up the options to choose between them.

[2022-01-10 12:51] Deepthi-Deepu commented on #119
I would like to work on this issue

[2022-01-10 13:59] kgashok commented on #77
@tarunkumark , @Pavithratrdev
The font change works well.
However, when reverting back to "Regular" does not bring back the original cursive font.

![image](https://user-images.githubusercontent.com/2399010/148778122-30cda0f1-3398-43b9-9de5-6afb75312b8f.png)

[2022-01-10 14:01] kgashok commented on #119
Done, @Deepthi-Deepu !

[2022-01-10 18:40] DeepakChakravarthy commented on #160
@kgashok

Sir, I will fix this Issue

[2022-01-11 04:13] kgashok commented on #162
Well done, @tarunkumark

[2022-01-11 04:15] tarunkumark commented on #162
Thank you sir

[2022-01-11 04:17] kgashok commented on #77
@tarunkumark @Pavithratrdev, once chosen, it must remember the choice (using [localStorage](https://www.w3schools.com/jsref/prop_win_localstorage.asp)?) as a stop gap measure until you implement the Options page, similar to Memcode.

[2022-01-11 04:21] tarunkumark commented on #77
Will look into it sir

[2022-01-11 10:56] #77 closed

[2022-01-11 14:35] kgashok opened #181 "Suggestion phrases for helping user to construct the note"
Provide suggestions in the formed of canned phrases from which the write can choose from to complete his note.
The canned phrases can be provided by the saythanks inbox owner and can depend upon
   - the contents of the README.md of the repo or
   - provided by the owner

Autogeneration of the canned phrases can also be considered.

### What's canned language?

It's a phrase you automatically writ

[2022-01-11 15:59] #160 closed

[2022-01-11 17:55] kgashok opened #183 "The Editor should support a Markdown text entry"
- And a Preview feature when markdown is being used.
- The note can also have Github recognized emojis?

[2022-01-11 18:58] kgashok commented on #162
The editor acts quite weirdly! Understandably! Again, another case of **inadequate testing** of the new feature!

After accepting the placeholder code, the "right arrow" key should only move the cursor.  Please fix ASAP!

![image](https://user-images.githubusercontent.com/2399010/149004251-339d3c0f-d1fc-45b7-936b-1f33266ec20b.png)

@Pavithratrdev @tarunkumark

[2022-01-11 19:21] kgashok commented on #119
@Pavithratrdev , @Deepthi-Deepu take a look at the impact on the Mobile Browser, screenshot below.
The recently introduced left "Feedback" ribbon has pushed the Centre Heading to the right, and getting below the right Github ribbon.

Please fix this.

![image](https://user-images.githubusercontent.com/2399010/149007509-aa415cc0-23dc-46dd-9902-823a6d8686ec.png)

[2022-01-11 19:54] kgashok commented on #162
Probably have to implement the keyboard shortcut as a combination of `<Ctrl> + <Right Arrow>`

[2022-01-12 04:20] #58 closed

[2022-01-12 15:23] kgashok opened #185 "Improve the PWA scores for saythanks.io"
@DeepakChakravarthy  made a presentation showing the PWA scores. These can improved:

![image](https://user-images.githubusercontent.com/2399010/149169082-314bee5b-9e69-4480-bbae-dd02545f7445.png)

[2022-01-12 15:27] DeepakChakravarthy commented on #185
I would like you to assign this issue to me

[2022-01-12 15:40] kgashok opened #186 "Add a template for the Issue Creation"
Similar to [pull request template](https://github.com/BlitzKraft/saythanks.io/blob/master/pull_request_template.md), we need one for the issue write up as well.

[2022-01-12 15:49] Dragfist7800 commented on #181
Sir, we can implement something similar to Gmail auto completion.

[2022-01-13 13:41] #162 closed

[2022-01-13 13:56] kgashok opened #188 "A better templating framework"
Please read https://opensource.com/resources/python/template-libraries

There is a comparison between Jinja and others. Is there a case to be made for using a different template framework for saythanks.io?

@Pavithratrdev @DeepakChakravarthy

Can you assign someone to make a presentation on this?

[2022-01-14 13:01] kgashok opened #189 "Configure Test discovery as per good practices of pytest"
Test discovery is best handled by adopting [good practices](https://docs.pytest.org/en/latest/explanation/goodpractices.html#test-discovery).

- Watch this [issue](https://github.com/arshadkazmi42/first-issues/issues/83) and adapt what is needed for this repo.

[2022-01-14 13:37] harshil-guptha commented on #189
I would like to work on this issue sir.

[2022-01-14 14:55] kgashok opened #190 "Next best practices for specifying dependencies and meta data"
This needs to be researched properly.

Read this [article](https://www.reddit.com/r/learnpython/comments/biq99o/what_is_the_current_best_practice_for_specifying/).

[2022-01-14 15:10] kgashok opened #191 "Setup for Logging"
As part of the 12-Factor app, the application has to do proper logging.

Please read [this](https://docs.python-guide.org/writing/logging/#logging-in-an-application).

[2022-01-14 15:13] kgashok opened #192 "Write some basic tests for the application"
Start with the suggestions in the Hitchhiker's guide - https://docs.python-guide.org/writing/tests/#py-test

[2022-01-14 19:15] kgashok opened #195 "A BeeWare equivalent of saythanks.io"
How about using [BeeWare Python](https://beeware.org/) to create an Android cross-platform mobile app?

To start with, you need the right [CookieCutter](https://cookiecutter.readthedocs.io/en/1.7.2/README.html) project template, find it [here](https://cookiecutter.readthedocs.io/en/1.7.2/case_studies.html#case-studies)

[2022-01-14 19:33] kgashok opened #196 "Re-examine the Flask App Structure"
Research this and make suggestions for improvement
  -  https://realpython.com/python-application-layouts/#flask

[2022-01-14 20:18] kgashok opened #197 "Install a Makefile for the project for meaningful automation"
Some articles to read
   - https://earthly.dev/blog/python-makefile/
   - https://medium.com/aigent/makefiles-for-python-and-beyond-5cf28349bf05
   - https://stackabuse.com/how-to-write-a-makefile-automating-python-setup-compilation-and-testing/

Here's what Kenneth Reitz has to say about `Makefile`:
![image](https://user-images.githubusercontent.com/2399010/149579087-73ae3f40-6453-44b6-822c-3cb72

[2022-01-14 20:40] kgashok opened #198 "A better Pip workflow"
Please read and implement https://kennethreitz.org/essays/2016/02/25/a-better-pip-workflow

- Managing a `requirements.txt` file can be problematic, so Pipenv uses the upcoming Pipfile and Pipfile.lock instead, which is superior for basic use cases.

[2022-01-15 06:26] kgashok opened #199 "Enable Github Discussions"
https://github.blog/2022-01-13-how-five-open-source-communities-are-using-github-discussions/

@BlitzKraft can you please enable github discussions for this repo?
Thanks,

[2022-01-15 09:00] #78 closed

[2022-01-16 04:32] kgashok commented on #119
@Deepthi-Deepu @Pavithratrdev, please set a deadline to fix this.

[2022-01-16 05:34] Pavithratrdev commented on #119
Sir, Will complete by tomorrow EOD

[2022-01-16 07:46] Pavithratrdev opened #200 "Enable logout feature"
Enable logout feature

[2022-01-16 17:01] Pavithratrdev commented on #186
Sir, I will work on this

[2022-01-16 17:03] Pavithratrdev commented on #186
Sir, I will work on this - https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository

[2022-01-17 05:17] #200 closed

[2022-01-17 05:18] #177 closed

[2022-01-18 04:57] Pavithratrdev commented on #62
Sir, I would like to work on this..
Reason for error  : "auth_id" column in inboxes table is assigned with "Primary Key" constraint.

Reference link to solve the issue : https://www.youtube.com/watch?v=P-Z1wXFW4Is

[2022-01-18 09:13] #62 closed

[2022-01-18 09:14] #103 closed

[2022-01-20 07:12] kgashok opened #204 "Add voice message options"
In addition to the text options, it would be good to provide an option for user to
leave behind a voice message.

[2022-01-20 07:15] kgashok opened #205 "Link to download or listen to voice recorded note"
Related to #204 , The email template should also allow for a link to be voice record blob on the database.

[2022-01-21 10:16] Deepthi-Deepu commented on #157
I would like to work on this

[2022-01-21 10:17] Deepthi-Deepu commented on #186
I would like to work on this

[2022-01-21 10:22] williskneeland commented on #157
Feel free to give this to someone else. I'm too busy currently to work on it, apologies.

[2022-01-21 16:35] RamkumarMrj commented on #192
I would like to work on this issue, sir.

[2022-01-21 17:23] Suveksha25 commented on #191
Sir I would like to work on this

[2022-01-21 17:24] jilarasnat commented on #191
Sir I am also interested to work on this with Suveksha.

[2022-01-23 12:04] tarunkumark commented on #151
I have used an email template from [here](https://beefree.io/template/new-years-eve-party-invitation/) to test this feature. For images to work, users will have to use cloud hosted images. I have resorted to not storing these documents in the database as they can sometimes be large and when it is loaded from the DB into your saythanks inbox, it ruins the CSS of your inbox page and you will have to

[2022-01-23 16:25] #151 closed

[2022-01-23 16:27] kgashok commented on #171
There seems to be a problem with Facebook?

![image](https://user-images.githubusercontent.com/2399010/150688057-595e3ede-6ad2-41d1-b25c-28475a98f7b4.png)

[2022-01-23 16:38] kgashok commented on #157
The title doesn't have to be "timestamp" - it can say `"Date"`, or any other label - what is used in other email systems?

![image](https://user-images.githubusercontent.com/2399010/150688447-fe967ba7-4fb0-4def-95ce-4ffa8f84e470.png)

[2022-01-23 16:40] kgashok commented on #157
@Deepthi-Deepu - incrementally fix each of the above issue. Don't fix everything in one shot and make a PR. Thanks,

[2022-01-23 17:06] kgashok commented on #171
@RamkumarMrj @Pavithratrdev

A couple of feedback:
1. The click on Twitter should open on a new tab (retaining the inbox in the current).

2. When I tweet this message,

![image](https://user-images.githubusercontent.com/2399010/150689493-a78d4b66-b9b3-49b7-a10a-694ee6b5022a.png)

it gets truncated as follows:

![image](https://user-images.githubusercontent.com/2399010/150689526-69267104-98ae-4c97

[2022-01-23 17:43] Sathasivamthirumoorthi commented on #186
Since,I am new to open source , I would like to work on this, sir.

[2022-01-24 04:23] kgashok commented on #157
and with Verdana, it is three lines:

![image](https://user-images.githubusercontent.com/2399010/150721729-f0f056fc-b844-4cc0-b35f-0219cf1fd769.png)

[2022-01-24 04:25] kgashok commented on #157
![image](https://user-images.githubusercontent.com/2399010/150721879-1cdbd43a-b0d6-4d7a-9dbe-33ced81aa65a.png)

[2022-01-24 05:20] Deepthi-Deepu commented on #157
I will make changes and update it soon

[2022-01-24 09:30] Sathasivamthirumoorthi commented on #186
![Screenshot from 2022-01-24 14-53-31](https://user-images.githubusercontent.com/97246670/150756790-a70ea5f2-b6e6-4451-a54f-e0b72e8791fa.png)

[2022-01-24 10:06] Pragadesh-45 commented on #159
Sir, I'll work on this.

[2022-01-24 10:09] Pragadesh-45 commented on #159
Sir, I'll work on #159.

[2022-01-25 17:01] RamkumarMrj commented on #171
![image](https://user-images.githubusercontent.com/36497508/151023265-7342489a-2c67-4012-8f41-8bb64754bb74.png)

Sir the Facebook post thumbnail will be as mentioned above image.

[2022-01-29 08:45] kgashok commented on #171
If the message is too long, what can be done about it? Right now, it doesn't post.

![image](https://user-images.githubusercontent.com/2399010/151654393-ae119b37-f033-4920-8fd7-4c8bfd357984.png)

[2022-01-29 10:12] Pavithratrdev opened #212 "Customizing Inbox for displaying notes"
**Current version of display:**

![WhatsApp Image 2022-01-29 at 2 20 31 PM](https://user-images.githubusercontent.com/63831132/151656893-2567f2a0-46d4-4a12-80a7-6a856897c928.jpeg)

**Expected as below:**

![image](https://user-images.githubusercontent.com/63831132/151656950-b12a9884-99be-4568-a5ac-94a30b20e53a.png)

[2022-01-29 10:14] Pavithratrdev opened #213 "Search option for inbox"
To provide search option for notes in inbox.
This is can taken after completing the issue #212

[2022-01-29 10:15] Pavithratrdev commented on #119
@Deepthi-Deepu : Please move the feedback ribbon to right side, below the ribbon "Fork me on github"

[2022-01-29 13:25] Deepthi-Deepu commented on #119
I will solve it soon sir.

[2022-01-31 05:08] tarunkumark commented on #212
I would like to work on this issue.

[2022-01-31 06:31] kgashok commented on #212
All yours, @tarunkumark

[2022-02-01 08:49] tarunkumark commented on #212
What I have planned for this is to **condense the size of the rows** similar to gmail which **might only partially show the note,** **retain the sender's name** and **make the share(FB,twitter etc) buttons and archive button appear when you hover over the row**. You can **click on the row to expand it** and view the whole note along with the share and archive buttons.

I would like your thoughts o

[2022-02-01 09:15] kgashok commented on #212
Help us visualize what you "see" in your mind.
  - Some screenshots or basic wireframes would be helpful
  - or do a screenshot of whatever other email client image looks like.

On Tue, 1 Feb 2022 at 14:19, Tarun K Kumar ***@***.***> wrote:

[2022-02-01 09:54] tarunkumark commented on #212
I have borrowed the design from gmail for a less cluttered inbox.

I have included all of the ideas mentioned in the following wireframe:

![Screenshot from 2022-02-01 15-15-19](https://user-images.githubusercontent.com/61784876/151946312-f7a1eff2-4af0-4d8e-8eb3-c857447450b2.png)

[2022-02-01 09:58] kgashok commented on #212
Sure, looks good. Go ahead!

On Tue, 1 Feb 2022 at 15:25, Tarun K Kumar ***@***.***> wrote:

[2022-02-01 11:49] kgashok commented on #157
Closing this issue for now, @Deepthi-Deepu @Pavithratrdev

## Super work!

[2022-02-01 11:49] #157 closed

[2022-02-01 11:50] kgashok commented on #113
Borrow some ideas from this https://betterprogramming.pub/memorable-releases-with-unique-version-code-names-4706118aa663 @Pavithratrdev

[2022-02-16 13:19] kgashok opened #214 "Some use cases from admonymous"
This is an interesting site, saythanks.io can also easily morph / adapt some use cases
from  https://www.admonymous.co/suggestions

[2022-02-21 17:18] DeepakChakravarthy commented on #91
Sir,We are using Auth0 (Third-Party Authentication & Authorization Provider for best User's Management)

Auth0 uses the OpenID Connect (OIDC) Protocol and OAuth 2.0 Authorization Framework to authenticate users and get their authorization to access protected resources.

[2022-02-21 17:22] Pavithratrdev commented on #172
As of now not required

[2022-02-21 17:22] #172 closed

[2022-02-28 07:22] Pavithratrdev opened #215 "Remove bold for Timestamp and Sender"
Remove bold for Timestamp and Sender

[2022-02-28 18:59] #215 closed

[2022-03-09 09:02] Pavithratrdev opened #217 "Messages are missing in Inbox"
Messages are missing in Inbox : Post multiple messages in same date

[2022-03-20 09:46] Pavithratrdev commented on #217
Messages are available in different auth id

[2022-03-20 09:46] #217 closed

[2022-03-21 16:58] #119 closed

[2022-04-01 05:03] kgashok opened #220 "Why not an option to generate Indian names instead of American names?"
![image](https://user-images.githubusercontent.com/2399010/161198140-8c36cb44-c807-45cd-8c9d-f8aa63a06095.png)

Why not generate Indian names? The saythanks.io server can have the options to generate Indian/American names.

[2022-04-12 15:26] harikiruthi commented on #204
Sir I would like to work on this.

[2022-04-12 15:26] sammoulika-1408 commented on #205
Sir I would like to work on this

[2022-04-12 15:34] akashidiooakashidioo commented on #212
I would like to work on this project sir.

[2022-04-12 15:48] samuel-sm-oss commented on #212
Sir I'm also interested to work on this @akashidiooakashidioo

[2022-04-12 15:51] samuel-sm-oss commented on #212
sir I'm also interested to work on this with @akashidiooakashidioo

[2022-04-12 16:23] rohindhkishore commented on #220
Sir I would like to work on this.

[2022-04-26 12:19] Pavithratrdev opened #221 "Devops Implementation"
Devops Implementation - Adding Jenkins File

[2022-04-26 12:35] #221 closed

[2022-05-05 12:18] cvzi opened #223 "KeyError: 'nickname' when signing up with github"
**Describe the bug**
When I try to sign up with github I get an error:
[code]

**To Reproduce**
Steps to reproduce the behaviour:

1. Click on "Create Your Thankfulness Inbox"
2. Click "Sign up with GitHub"
3. Opens github.com
4. Grant permission on github.com
5. Redirects to `https://saythanks.io/callback?code=AbCdEfG`
6. See error

**Screenshots**
![Screenshot 2022-05-05 at 14-16-52 KeyError 'ni

[2022-05-11 09:49] wasi-master commented on #223
I can reproduce this

[2022-05-11 09:53] wasi-master commented on #220
Why does it matter?

[2022-05-17 00:55] rachejazz commented on #223
same bug persists still :(

[2022-05-28 04:55] kgashok commented on #223
@cvzi, @rachejazz , @wasi-master

 Strange! My saythanks inbox works okay! @Pavithratrdev will coordinate on your errors and ensure they are fixed.

[2022-05-28 05:24] rachejazz commented on #223
I beleive the inbox works perfectly, it's just that we can't sign up using our github account

[2022-05-28 07:53] kgashok commented on #223
@rachejazz thanks, we will revert back with a fix shortly.

[2022-06-13 07:18] Pavithratrdev commented on #223
@cvzi, @rachejazz , @wasi-master : I'm hoping the problem is with the generation of Auth0 keys; it's been fixed now.
Could you please make sure the same.

[2022-06-13 13:16] cvzi commented on #223
Yes it works for me

[2022-06-13 16:01] rachejazz commented on #223
Works now. Thank you so much!

[2022-06-14 07:24] wasi-master commented on #223
Working for me as well 👍

[2022-06-14 11:09] #223 closed

[2022-06-18 13:36] kgashok commented on #145
Duplicate issue, as reported by @Pavithratrdev
Closing this.

[2022-06-18 13:36] #145 closed

[2022-06-19 16:49] kgashok opened #227 "HTML edited notes are getting email'ed but not saved in database"
When choosing HTML as the option,
![image](https://user-images.githubusercontent.com/2399010/174491648-a218a430-ed7b-4582-ae8e-4e4075d7e012.png)

The email arrives alright....

![image](https://user-images.githubusercontent.com/2399010/174491660-a66eebc4-48c6-4171-839c-0c4eae60e647.png)

But it is not getting stored in the inbox database

![image](https://user-images.githubusercontent.com/2399010/

[2022-06-20 05:31] kgashok commented on #227
@tarunkumark - this is yours to take and close.
@Pavithratrdev

[2022-06-20 09:10] tarunkumark commented on #227
I have actually done this intentionally. If the HTML message contains any Embedded CSS, it will ruin the CSS of the inbox page.

[2022-06-20 09:19] #147 closed

[2022-06-20 09:30] #143 closed

[2022-06-20 09:32] kgashok commented on #227
In that case, don't allow any CSS based notes to be created? Just plain HTML support will do.

[2022-06-20 10:06] tarunkumark commented on #227
Ok, I will remove the scripts, styles and other related attributes and store the rest in the inbox.

[2022-06-20 16:09] kgashok commented on #227
Ok, I will remove the scripts, styles and other related attributes and
store the rest in the inbox.

Super!

  % ashok

On Mon, 20 Jun 2022 at 15:36, Tarun K Kumar ***@***.***>
wrote:

[2022-07-10 11:44] aeonSolutions opened #229 "Error Auth0"
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/site-packages/flask/app.py", line 1997, in __call__
    return self.wsgi_app(environ, start_response)
  File "/usr/local/lib/python3.6/site-packages/whitenoise/base.py", line 66, in __call__
    return self.application(environ, start_response)
  File "/usr/local/lib/python3.6/site-packages/flask/app.py", line 1985, in wsgi_app

[2022-07-18 03:09] kgashok commented on #229
@aeonSolutions what is the ID you are trying to use?

[2022-07-18 04:17] #227 closed

[2022-07-18 07:57] aeonSolutions commented on #229
Hi.
I tried connecting using Gmail. And then using github.
My email is mtpsilva@gmail.com

[2022-07-20 00:28] kgashok opened #232 "Button overlaps the title on Web Version"
On the desktop, when you resize the window (vertically to half the size), the responsive design must ensure that the elements dynamically change their size.

![image](https://user-images.githubusercontent.com/2399010/179870209-f52fcba8-a8fb-43d0-b5f4-87be63b4f87d.png)

[2022-07-20 10:54] nivu opened #233 "Wordcloud"
Create Wordcloud as a summary for event responses.

[2022-08-17 07:42] Pavithratrdev commented on #229
@aeonSolutions, @randomshell : Could you please check now?

[2022-08-22 05:45] kgashok commented on #229
@Pavithratrdev can you please let us know how it was resolved?

[2022-08-22 10:56] Pavithratrdev commented on #229
@kgashok: Auth0 key is expired, so we generated new key and placed it.

[2022-09-27 14:27] tushar5526 commented on #106
This is because we are trying to access `email` from `user_info` dictionary after authorization, but there is no `email` present in the dictionary. Work around would be to redirect to a page where we have a prompty to enter email.

https://community.auth0.com/t/auth0-facebook-login-email-issue-2/21408/8

I don't think there is any solid fix for it. We can skip the email or ask the users their emai

[2022-10-01 17:52] tushar5526 opened #234 "Use latest Auth0 script to create login and signup locks"
We are using version `10.5` of `auth0` script to create locks whereas the latest version is `11.33` which is backwards compatible as well. For new Auth0 accounts, `10.5` is not working and there is a need to bump the script version.

[2022-10-03 16:37] tushar5526 opened #236 "[docs] Mention python version requirements"
**Technical improvement**
sayThanks only works properly with python version < 3.7 because `records` library is not compatible with python version >= 3.7.

[2022-10-09 20:40] javadnikbakht commented on #229
@Pavithratrdev I have this error when I try with my Github account with javadnikbakht@mail.com email address.

[2022-10-10 08:41] Pavithratrdev commented on #229
@javadnikbakht : Please check now

[2022-10-15 11:59] tushar5526 commented on #106
In the maintainer meet we discussed, setting up a new prompt to ask for email is not a good option because in OAuth2, auth providers has the responsibility of sending verified data if the user allows.

I will look for other alternatives to Auth0 in the mean time and share them here.

cc @kgashok @Pavithratrdev

[2022-10-15 12:02] tushar5526 opened #238 "Use .env file instead of source env variables into bashrc globally"
**Technical improvement**
It is not a good practice to source environment variables to `bashrc`, as those variables would be available globally in the whole system.

We should specify a `.env` file in the project directory and source variables into the current shell when we run flask server.

I will be working on this.

[2022-10-15 12:13] tushar5526 commented on #238
Please assign this to me @kgashok @Pavithratrdev

[2022-10-16 15:25] #234 closed

[2022-10-16 15:27] #236 closed

[2022-10-17 12:13] kgashok commented on #106
A lot of users have started using patreon (https://www.patreon.com/) as well. FWIW,

[2022-10-17 22:51] #238 closed

[2022-10-18 13:35] javadnikbakht commented on #229
Thanks that's ok now.

[2022-10-20 08:49] tushar5526 commented on #106
I tried different ways to hit the graph API using access tokens and get the email of a user, but some users' profiles just don't have any email associated with them. Either their emails are not verified or they used a mobile number to log in, but Facebook is not sending anything back.

I don't think switching to other providers will solve this issue, I am thinking of either redirecting the user to

[2022-10-20 12:27] tushar5526 commented on #168
I think we can close this issue?

[2022-10-28 12:20] #232 closed

[2022-10-28 12:30] kgashok commented on #34
@tushar5526 @Pavithratrdev This seems like an interesting request.

[2022-10-28 15:31] tushar5526 commented on #34
We can have a section on our landing page, that shows the latest sayThanks messages.

Maybe we can provide users with an option to opt-in for their messages to be displayed on the homepage. If the user opts in, then only their sayThanks messages are displayed on our homepage.

[2022-10-28 15:34] tushar5526 opened #243 "Make a GitHub Action that gets the latest sayThanks messages and displays them on your Github Readme profile"
https://github.com/tushar5526 -> GitHub readmes are now used a lot as a way to showcase your developer profile. It can be easily configured using GitHub Actions. A GitHub action of sayThanks that fetches the latest messages of a user and displays them on their readme will be really cool and let other users know what other projects/talks a developer has delievered.

[2022-10-28 21:04] tushar5526 commented on #198
I am starting with this issue, the only blocker currently I am facing is that many dependencies of this project requires python < 3.6.5 and pipenv has dropped support for python 3.6

I am trying to update dependencies and see if the projects work for 3.7.5

[2022-10-28 21:20] tushar5526 commented on #198
There is a need to migrate from `records` to `SQLalchemy` for database-related operations. `records` is no more actively maintained and the last commit was 2 years ago. SQLalchemy will also let sayThanks run on python > 3.6

Please, let me know your thoughts @kgashok @Pavithratrdev

[2022-10-29 11:37] Pavithratrdev commented on #198
@tushar5526 :We can proceed with SQLalachemy

[2022-10-29 13:20] tushar5526 opened #245 "Migrate to SQL alchemy"
**Technical improvement**
Records are no longer maintained and crash on python > 3.6. We can instead use SQLAlchemy for the same

[2022-10-29 19:55] tushar5526 opened #246 "Wrong configuration of dynamic routes in core.py"
**Describe the bug**
For a path like `/home/<user>` the associated function should take `user` as a variable.

https://github.com/BlitzKraft/saythanks.io/blob/master/saythanks/core.py#L120

The URL https://saythanks.io/inbox/export/csv is giving an error due to this.

[2022-10-29 19:56] tushar5526 commented on #246
I am fixing this as well

[2022-10-30 04:32] #246 closed

[2022-10-30 04:33] #245 closed

[2022-10-30 04:34] kgashok commented on #234
@tushar5526 merged. Thanks much!

[2022-10-30 10:53] tushar5526 opened #250 "GitHub Actions are failing on PRs"
**Describe the bug**
[GHAs for PRs are failing](https://github.com/BlitzKraft/saythanks.io/actions?query=event%3Apull_request)

A possible cause is specifying `ref` for GHA. We can skip that step as actions/checkout automatically detects the branch and checksout

[2022-11-06 10:21] tushar5526 commented on #183
For this, it would be more clean and simple if we support markdown and drop all other formats explicitly because markdown supports both standard text and HTML tags.

The submit_note page should have a Markdown editor with a previewer to write messages in markdown and preview them. The messages should then be parsed and displayed in a custom inbox.

Please share your thoughts @kgashok @Pavithratrde

[2022-11-06 10:21] tushar5526 commented on #183
A markdown editor like this https://nhn.github.io/tui.editor/latest/tutorial-example01-editor-basic on the submit button page.

[2022-11-06 10:26] tushar5526 commented on #183
To make it more user friendly we can even use this mode. https://nhn.github.io/tui.editor/latest/tutorial-example03-editor-with-wysiwyg-mode

This will help folks who are do not know markdown syntax

[2022-11-10 04:19] Pavithratrdev commented on #183
@tushar5526  : Preview of the Markdown write-up before SUBMIT should be available

[2022-11-10 04:26] kgashok commented on #183
Preview feature of the Markdown write-up before SUBMIT should be also be available.

[2022-11-10 04:56] tushar5526 commented on #183
This mode -> https://nhn.github.io/tui.editor/latest/tutorial-example01-editor-basic supports for preview feature of the md you write.

But not everyone is well versed with md tags and it might make the app exclusive to some. Instead I am recommending using this [wysiwyg-mode](https://nhn.github.io/tui.editor/latest/tutorial-example03-editor-with-wysiwyg-mode) on both the submit note side and the

[2022-11-10 05:48] kgashok commented on #183
That's ok, @tushar5526 - hitherto, saythanks.io was purely plain text based. If people want to get fancy, they can learn MD and use it appropriately.

I like the https://nhn.github.io/tui.editor/latest/tutorial-example03-editor-with-wysiwyg-mode too. But that can be provided as an option (for those who don't know MD).

[2022-11-10 11:45] tushar5526 commented on #183
@kgashok I think then I will go ahead with this https://nhn.github.io/tui.editor/latest/tutorial-example01-editor-basic type of theme for the submit note ?

[2022-11-10 14:12] kgashok commented on #183
Yes, go ahead @tushar5526

[2022-11-11 01:11] #198 closed

[2022-11-12 03:48] kgashok commented on #183
The editor seems to have issues when accessed on the mobile.
Can you please check @tushar5526 @Pavithratrdev

[2022-11-13 22:58] #183 closed

[2022-11-14 10:05] tushar5526 commented on #188
Hi @kgashok, the current jinja implementation seems reasonable to me. It is widely used and supported in flask and django backends. Is there any con to it that I don't know and we have to migrate to a new template engine for that?

[2022-11-16 16:56] kgashok commented on #213
@tushar5526 is this also implemented in your new update?

[2022-11-16 18:06] tushar5526 commented on #213
No, I will be doing that now.

[2022-11-17 05:10] kgashok commented on #212
@tushar5526 The twitter launch icon is missing? There should always be progressive improvement!

[2022-11-17 08:48] kgashok opened #257 "Update to README.md reflecting changes made"
**Technical improvement**
A clear and concise description of what you expected to happen.

The README.md file for the repo needs to be updated.

@Pavithratrdev, this documentation should be done by student developers with help from Tushar and yourself.

[2022-11-17 15:26] Pavithratrdev commented on #257
Sure, will do

[2022-11-17 20:17] tushar5526 commented on #212
![Screenshot_2022-11-18-01-46-55-59_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/30565750/202550448-5e85f5aa-3854-4960-badd-c87700f0e24c.jpg)

[2022-11-19 07:27] kgashok commented on #233
@Suveksha25 , good luck with this. It has been assigned to you.

[2022-11-19 12:06] Suveksha25 commented on #233
Thank you sir. Happy to contribute

[2022-11-19 12:49] kgashok commented on #233
You have been assigned

[2022-11-29 14:19] kgashok commented on #213
@tushar5526 , The Search Dialog Box should be disabled until all the messages are loaded.
There seems to be weird UX issue which needs to be fixed.

[2022-11-29 16:46] tushar5526 commented on #213
@kgashok I am not able to replicate the issue, can you post any screenshots or small video? It would help a lot :)